<a href="https://colab.research.google.com/github/jialusui/Lab-testing/blob/main/Analysis_step6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import glob
import numpy as np
import timeit
import mapply

In [22]:
pip install mapply

Collecting mapply
  Downloading mapply-0.1.9-py3-none-any.whl (7.8 kB)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from mapply) (5.4.8)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from mapply) (4.62.3)
Collecting pathos>=0.2.0
  Downloading pathos-0.2.8-py2.py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 7.7 MB/s
Requirement already satisfied: dill>=0.3.4 in /usr/local/lib/python3.7/dist-packages (from pathos>=0.2.0->mapply) (0.3.4)
Collecting ppft>=1.6.6.4
  Downloading ppft-1.6.6.4-py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 3.9 MB/s
Collecting pox>=0.3.0
  Downloading pox-0.3.0-py2.py3-none-any.whl (30 kB)
Requirement already satisfied: multiprocess>=0.70.12 in /usr/local/lib/python3.7/dist-packages (from pathos>=0.2.0->mapply) (0.70.12.2)
Requirement already satisfied: six>=1.7.3 in /usr/local/lib/python3.7/dist-packages (from ppft>=1.6.6.4->pathos>=0.2.0->mapply) (1.15.0)
Installing collected packages: ppft, pox, pathos, mapply
Successfully installed mapply-0.1.9 pathos-0.2.8 pox-0.3.0 ppft-1.6.6.4

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
%cd /content/drive/My Drive/Intern/

/content/drive/My Drive/Intern

In [14]:
ls

'Analysis step6.ipynb'        '~$output7.xlsx'
'handle date and time.ipynb'   output7.xlsx
 output1.xlsx                  output_null.xlsx
 output2.xlsx                  output_original.csv
 output3.xlsx                 '~$output.xlsx'
 output4.csv                   output.xlsx
 output5.xlsx                  Participants_data_for_Jialu_20211202/
 output6.csv                   public_all1.csv
 output7.csv                   Untitled.ipynb

In [15]:
public_all = pd.read_csv('public_all1.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
public_all

         Unnamed: 0       id  ... week_from_start daypassed
0                 0   640088  ...              10        68
1                 1   640087  ...              10        68
2                 2   640086  ...               2        13
3                 3   640085  ...               2         8
4                 4   640084  ...               1         4
...             ...      ...  ...             ...       ...
7592168     7592168  5389912  ...               2        10
7592169     7592169  5389909  ...              92       637
7592170     7592170  5389907  ...               1         3
7592171     7592171  5389906  ...               1         2
7592172     7592172  5389900  ...               3        14

[7592173 rows x 15 columns]

Note: Participants who logged at least two f/b per day with >5h difference between the first and the last f/b of the day will be considered compliant for food/beverage logging for that day.  E.g. (i) someone who logs a f/b at 6am and another one at 9am and nothing else for the day (until 3:59:59am of next calendar day) will be counted as non-compliant for that day. (ii) Someone who logs one f/b at 2am of a calendar day and another at 2pm of the same calendar day and nothing else, will be non-compliant because the 2am log will be counted towards the previous day. (iii) someone who logs at 9am and another f/b at2am of the next calendar day will be considered compliant because the day for our calculation goes from 4am till 3:59:59 am of the next calendar day. 


Notes: Since participants who logged only one f/b will not have any compliant day, exclude all participants from this calculation who logged only one f/b log in the app. This will exclude ~30% of participants.

In [17]:
df_output = pd.read_csv('output7.csv')

In [18]:
df_output

       Unnamed: 0  ... total number of medication (m) in week1&2
0               0  ...                                      14.0
1               1  ...                                       1.0
2               2  ...                                       0.0
3               3  ...                                      23.0
4               4  ...                                       1.0
...           ...  ...                                       ...
77170       77170  ...                                       0.0
77171       77171  ...                                       0.0
77172       77172  ...                                       1.0
77173       77173  ...                                       0.0
77174       77174  ...                                       0.0

[77175 rows x 38 columns]

In [19]:
df_output['total number of f and b'] = df_output['total number of food (f)'] + df_output['total number of beverages (b)']

In [20]:
df_output

       Unnamed: 0  ... total number of f and b
0               0  ...                     844
1               1  ...                      64
2               2  ...                      88
3               3  ...                     672
4               4  ...                      64
...           ...  ...                     ...
77170       77170  ...                       6
77171       77171  ...                       5
77172       77172  ...                       0
77173       77173  ...                       1
77174       77174  ...                       1

[77175 rows x 39 columns]

In [31]:
#exclude participant who only have one foodlog:
include_list = list(df_output.loc[df_output['total number of f and b'] > 1].participant_unique_code)
include_index =  list(df_output.loc[df_output['total number of f and b'] > 1].index)

In [32]:
#exclude participant who only have one foodlog:
exclude_list = list(df_output.loc[df_output['total number of f and b'] <= 1].participant_unique_code)
exclude_index =  list(df_output.loc[df_output['total number of f and b'] <= 1].index)

In [26]:
print(len(include_list),'individual should be kept')
percent =len(exclude_list)/len(df_output)*100
print(len(exclude_list),f'individual should be excluded, which is {percent} percent')

61675 individual should be kept
15500 individual should be excluded, which is 20.084224165856817 percent

In [27]:
#exclude data: some participants entered some water/medications besides 1 f/b
public_all.loc[public_all.participant_unique_code.isin(exclude_list)]

         Unnamed: 0       id  ... week_from_start daypassed
52               52   640036  ...               1         0
236             236   639847  ...               1         0
277             277   639804  ...               1         0
807             807   639259  ...               1         0
1418           1418   638647  ...               1         0
...             ...      ...  ...             ...       ...
7590700     7590700  5391771  ...               1         0
7590718     7590718  5391751  ...               1         0
7590721     7590721  5391748  ...               1         0
7591847     7591847  5390349  ...               1         0
7591952     7591952  5390188  ...               1         1

[21101 rows x 15 columns]

In [28]:

filter1 = public_all.loc[public_all.participant_unique_code.isin(include_list)]

Note: Participants who logged at least two f/b per day with >5h difference between the first and the last f/b of the day will be considered compliant for food/beverage logging for that day. E.g. (i) someone who logs a f/b at 6am and another one at 9am and nothing else for the day (until 3:59:59am of next calendar day) will be counted as non-compliant for that day. (ii) Someone who logs one f/b at 2am of a calendar day and another at 2pm of the same calendar day and nothing else, will be non-compliant because the 2am log will be counted towards the previous day. (iii) someone who logs at 9am and another f/b at2am of the next calendar day will be considered compliant because the day for our calculation goes from 4am till 3:59:59 am of the next calendar day.

In [29]:
filter1

         Unnamed: 0       id  ... week_from_start daypassed
0                 0   640088  ...              10        68
1                 1   640087  ...              10        68
2                 2   640086  ...               2        13
3                 3   640085  ...               2         8
4                 4   640084  ...               1         4
...             ...      ...  ...             ...       ...
7592168     7592168  5389912  ...               2        10
7592169     7592169  5389909  ...              92       637
7592170     7592170  5389907  ...               1         3
7592171     7592171  5389906  ...               1         2
7592172     7592172  5389900  ...               3        14

[7571072 rows x 15 columns]

In [33]:
public_all.iloc[exclude_index]['food_type'].unique()

array(['b', 'f', 'w', 'm'], dtype=object)

In [34]:
def check_compliance(s):
    #s: dataframe of a single day for a specific participant
    s=s.sort_values(by=['local_time'])
    first_logtime = s.iloc[0].local_time
    last_logtime = s.iloc[-1].local_time
    #print(first_logtime)
    #print(last_logtime)
    if last_logtime-first_logtime >5:
        return True
    else:
        return False

In [35]:
test1 = filter1.query('participant_unique_code=="alqt17029118" and daypassed == 11 and (food_type == "f" or food_type == "b")')

In [36]:
test1

         Unnamed: 0      id  ... week_from_start daypassed
1585763     1585763  646552  ...               2        11
1585862     1585862  646453  ...               2        11
1585911     1585911  646404  ...               2        11

[3 rows x 15 columns]

In [37]:
check_compliance(test1)

False

Find the compliant days for each day of the first 14 weeks (98 days) for each participant.  For each participant, day 1 is the date on which they first logged any food item in the app.

The above steps should produce a table or file containing each participant ID followed by days 1-98 (0-97), whether they were compliant or not (Y/N) for each of those days, no. of food_name (total logs), f/b logs for each day, no. of m logs and no. of w log for each day. 

Find the number of compliant days for the first 14 days, and do the same for each of the subsequent weeks till week 14. This will be the most intensive analyses so far. It may take a few hours of computing time. 
 
Find participants who had at least 10 compliant days for the first 14 days of data logging. You may find ~20,000 participants meeting this criteria. 
In subsequent analyses we will use the data from participants who had at least 10 compliant days in the first 14 days.

In [38]:
df_compliance = pd.DataFrame(data = filter1.participant_unique_code.unique(),columns=['unique_code'])

In [39]:
filter1.query('participant_unique_code =="alqt17029226"')

         Unnamed: 0       id  ... week_from_start daypassed
4                 4   640084  ...               1         4
27               27   640061  ...               1         4
65               65   640023  ...               1         4
111             111   639973  ...               1         4
171             171   639913  ...               1         4
...             ...      ...  ...             ...       ...
2165276     2165276  2293527  ...              69       480
2165895     2165895  2292762  ...              69       480
2166134     2166134  2292430  ...              69       480
2166389     2166389  2292128  ...              69       480
2166432     2166432  2292079  ...              69       480

[1213 rows x 15 columns]

In [46]:
def find_compliance(s,df):
    par = s.unique_code
    df_test = df.query('participant_unique_code == @par')
    if len(df_test)<2:
        return False
    return check_compliance(df_test)

In [41]:
 df_fb = filter1.query('food_type == "f" or food_type == "b"')

In [42]:
df_fb

         Unnamed: 0       id  ... week_from_start daypassed
2                 2   640086  ...               2        13
3                 3   640085  ...               2         8
5                 5   640083  ...               2        10
6                 6   640082  ...               3        20
9                 9   640079  ...               1         6
...             ...      ...  ...             ...       ...
7592168     7592168  5389912  ...               2        10
7592169     7592169  5389909  ...              92       637
7592170     7592170  5389907  ...               1         3
7592171     7592171  5389906  ...               1         2
7592172     7592172  5389900  ...               3        14

[5318915 rows x 15 columns]

In [43]:
%%timeit
df_fb.query('participant_unique_code == "alqt17029226" and daypassed == 0')

10 loops, best of 5: 139 ms per loop

In [44]:
mapply.init(
    n_workers=-1,
    chunk_size=100,
    max_chunks_per_worker=8,
    progressbar=False
)

In [48]:
df_0 = df_fb.query('daypassed==0')

In [53]:

df_test = df_fb.query('participant_unique_code == "alqt17029118" and daypassed==0')

In [55]:
%%timeit
find_compliance(df_compliance.iloc[0],df_test)

100 loops, best of 5: 2.45 ms per loop

In [61]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

we need to calculate day 0 to day 97, so group it into 10:

In [64]:
from tqdm.notebook import tqdm

In [56]:
df_0 = df_fb.query('daypassed==0')
df_compliance['compliant days for day 1'] = df_compliance.mapply(lambda x: (find_compliance(x, df_0)), axis=1)

In [63]:
df_compliance

          unique_code  ...  compliant days for day 4
0        alqt16126987  ...                      True
1        alqt17028987  ...                      True
2        alqt17029118  ...                     False
3        alqt17029226  ...                      True
4        alqt17029060  ...                      True
...               ...  ...                       ...
61670  alqt1910101146  ...                     False
61671  alqt1910101160  ...                     False
61672  alqt1910101197  ...                     False
61673  alqt1910101064  ...                     False
61674  alqt1910101109  ...                     False

[61675 rows x 5 columns]

In [ ]:
#day 1 - 10
for day in range(1,11):
  df = df_fb.query('daypassed==@day')
  df_compliance[f'compliant days for day {day}'] = df_compliance.mapply(lambda x: (find_compliance(x, df)), axis=1)

In [65]:
#day 1 - 10
for day in tqdm(range(4,7)):
  df = df_fb.query('daypassed==@day')
  df_compliance[f'compliant days for day {day}'] = df_compliance.mapply(lambda x: (find_compliance(x, df)), axis=1)

  0%|          | 0/3 [00:00<?, ?it/s]

In [67]:
df_compliance.isna().sum()

unique_code                 0
compliant days for day 1    0
compliant days for day 2    0
compliant days for day 3    0
compliant days for day 4    0
compliant days for day 5    0
compliant days for day 6    0
dtype: int64

In [68]:
df_compliance.to_csv('compliant.csv')

In [ ]:
#day 11 - 20
for day in tqdm(range(11,21)):
  df = df_fb.query('daypassed==@day')
  df_compliance[f'compliant days for day {day}'] = df_compliance.mapply(lambda x: (find_compliance(x, df)), axis=1)

In [ ]:
#day 21 - 30
for day in tqdm(range(21,31)):
  df = df_fb.query('daypassed==@day')
  df_compliance[f'compliant days for day {day}'] = df_compliance.mapply(lambda x: (find_compliance(x, df)), axis=1)

In [ ]:
#day 31 - 40
for day in tqdm(range(31,41)):
  df = df_fb.query('daypassed==@day')
  df_compliance[f'compliant days for day {day}'] = df_compliance.mapply(lambda x: (find_compliance(x, df)), axis=1)

In [ ]:
#day 41 - 50
for day in tqdm(range(41,51)):
  df = df_fb.query('daypassed==@day')
  df_compliance[f'compliant days for day {day}'] = df_compliance.mapply(lambda x: (find_compliance(x, df)), axis=1)

In [ ]:
#day 51 - 61
for day in tqdm(range(51,61)):
  df = df_fb.query('daypassed==@day')
  df_compliance[f'compliant days for day {day}'] = df_compliance.mapply(lambda x: (find_compliance(x, df)), axis=1)

In [ ]:
#day 61 - 70
for day in tqdm(range(61,71)):
  df = df_fb.query('daypassed==@day')
  df_compliance[f'compliant days for day {day}'] = df_compliance.mapply(lambda x: (find_compliance(x, df)), axis=1)

In [ ]:
#day 71 - 80
for day in tqdm(range(71,81)):
  df = df_fb.query('daypassed==@day')
  df_compliance[f'compliant days for day {day}'] = df_compliance.mapply(lambda x: (find_compliance(x, df)), axis=1)

In [ ]:
#day 81 - 90
for day in tqdm(range(81,91)):
  df = df_fb.query('daypassed==@day')
  df_compliance[f'compliant days for day {day}'] = df_compliance.mapply(lambda x: (find_compliance(x, df)), axis=1)

In [ ]:
#day 91 - 97
for day in tqdm(range(91,98)):
  df = df_fb.query('daypassed==@day')
  df_compliance[f'compliant days for day {day}'] = df_compliance.mapply(lambda x: (find_compliance(x, df)), axis=1)

In [57]:
df_compliance

          unique_code  compliant days for day 1
0        alqt16126987                      True
1        alqt17028987                      True
2        alqt17029118                     False
3        alqt17029226                     False
4        alqt17029060                      True
...               ...                       ...
61670  alqt1910101146                     False
61671  alqt1910101160                     False
61672  alqt1910101197                     False
61673  alqt1910101064                      True
61674  alqt1910101109                      True

[61675 rows x 2 columns]

In [ ]:
#https://pypi.org/project/mapply/